.App {
  font-family: sans-serif;
  text-align: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
}

.container {
  background: #ffffff;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-bar {
  display: flex;
  align-items: center;
  border: 1px solid black;
  width: 90%;
  max-width: 935px;
  height: 75px;
  border-radius: 8px;
  margin: 50px 0 0 20px;
}

#select {
  display: flex;
  justify-content: center;
  padding: 25px 20px;
  cursor: pointer;
  position: relative;
  width: 25%;
}

#select ul {
  position: absolute;
  margin-top: 5px;
  padding: 10px 20px;
  top: 100%;
  text-align: left;
  list-style: none;
  border-radius: 10px;
  background-color: #ffffff;
  filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.25));
}

li {
  width: 120%;
  box-shadow: inset 0 0 0 0 #6318af;
  color: #000000;
  margin: 10px -0.25rem;
  padding: 0 0.25rem;
  transition: color 0.1s ease-in-out, box-shadow 0.5s ease-in-out;
}

li:hover {
  box-shadow: inset 150px 0 0 0 #f7f7f7;
  color: #6318af;
}

.main-search {
  display: flex;
  justify-content: space-between;
  width: 500px;
  color: #000000;
  position: relative;
}

.main-search:after {
  content: " ";
  background: black;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 25px;
  width: 2px;
}

.main-search:before {
  content: "";
  background: black;
  position: absolute;
  bottom: 0;
  right: 0;
  height: 25px;
  width: 2px;
}

.looking-glass {
  height: 24px;
  width: 24px;
  position: relative;
  transform: translate(-50px);
}

input {
  border: none;
  padding-left: 50px;
  background: none;
}

.mini-search {
  display: flex;
  border: 1px solid #e2e2e2;
  color: #e2e2e2;
  width: 320px;
}
